<div class="container">
    <!-- Cabecera -->
    <div class="text-light py-3">
        <app-toolbar></app-toolbar>
    </div>
    <div class="mt-3">
        <div class="row">
            <!-- Menú lateral izquierdo -->
            <div class="col-md-3 sidenav-container">
                <app-sidenav></app-sidenav>
            </div>
            <!-- Contenido principal -->
            <div class="col-md-9 grid-wrapper">
                <app-students-page></app-students-page>
            </div>
        </div>
    </div>
</div>