<div class="container-fluid py-3">
    <h2>Listado de estudiantes</h2>
    <p>Se lista la información de estudiantes con las notas promedios del ciclo lectivo</p>

    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Curso</th>
                <th scope="col">Nota Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Lucas</td>
                <td>Otto</td>
                <td>1k1</td>
                <td>9</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Carlos</td>
                <td>Thornton</td>
                <td>1k1</td>
                <td>8</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Marce</td>
                <td>Serrano</td>
                <td>1k2</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
</div>